.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    .switchers {
        flex-direction: column;
    }

    .lang{
        margin-left: 0;
    }
}



.collapseButton{
    position: absolute;
    bottom: 30px;
    right: -32px;
}

.links {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 30px;
    margin-top: 20px;
    transition: 1;
}

.appLink{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon{
    margin-right: 10px;
    fill: var(--inverted-primary-color); 
}

.iconRed{
    fill: red;
}

.p {
    transition: opacity 0.3s ease 0.3s;
}
